body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ccc;
  background-color: #181818;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 80%;
  max-width: 60rem;
  padding: 5%;
  border-radius: 2rem;
  border: 0.1em solid #404040;
  background-color: #1f1f1f;
}

.slider-meme {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.memes {
  display: flex;
  width: 400%;
  transition: 0.3s ease-in-out;
}

.meme {
  width: 25%;
  height: auto;
}

.slider-caption {
  width: 70%;
  height: auto;
  overflow: hidden;
}

.captions {
  display: flex;
  flex-wrap: nowrap;
  width: 400%;
  transition: 0.3s ease-in-out;
}

.caption {
  width: 25%;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}

.slider-control {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.control-input {
  display: none;
}

.control-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 2rem 0.5rem 0;
  border-radius: 50%;
  background-color: #41a9f1;
  background-clip: content-box;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.control-span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.slider:has(#meme0:checked) .memes,
.slider:has(#meme0:checked) .captions {
  transform: translateX(0);
}

.slider:has(#meme1:checked) .memes,
.slider:has(#meme1:checked) .captions {
  transform: translateX(-25%);
}

.slider:has(#meme2:checked) .memes,
.slider:has(#meme2:checked) .captions {
  transform: translateX(-50%);
}

.slider:has(#meme3:checked) .memes,
.slider:has(#meme3:checked) .captions {
  transform: translateX(-75%);
}

.control-label:hover {
  background-color: white;
}

.control-label:active {
  transform: scale(1.5);
}

.control-input:checked + .control-label .control-span {
  background-color: #1f1f1f;
}

@media (max-width: 1023px) {
  .slider-caption {
    width: 100%;
    order: 1;
  }

  .slider-control {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 479px) {
  html {
    font-size: 0.75em;
  }
}
